@import './variables.scss';
@import './price-cards.scss';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 1440px;
  background-color: $background-color-dark-black;
}
